{% extends 'base.html.twig' %}

{% block title %} Players {% endblock %}

{% block body %}
    <div class="container">
        Liste des players :
        <hr>
        <ul>
            {% for player in players %}
                <li>{{ player.id }}</li>
                <li>{{ player.lastname }}</li>
                <li>{{ player.firstname }}</li>
                <li>{{ player.age }}</li>
                <li>Equipe : {{ player.teamId.name }}</li>
                <a href="{{ path('delete_player', {'id': player.id}) }}">
                    <button class="btn btn-danger">
                        Delete
                    </button>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}